# Software
R Version 4.4.1

# Dependencies
broom Version 1.0.6
countrycode Version 1.6.0
dexter Version 1.4.2
dexterMML Version 0.4.4
dplyr Version 1.1.4
ggcorrplot Version 0.1.4.1
ggplot2 Version 3.5.1
haven Version 2.5.4
janitor Version 2.2.0
knitr Version 1.47
labelled Version 2.13.0
lavaan Version 0.6-18
lme4 Version 1.1-35.4
mice Version 3.16.0
mirt Version 1.41
missMethods Version 0.4.0
readxl Version 1.4.3
semPlot Version 1.1.6
sirt Version 4.1-15
tidyr Version 1.3.1
tidyverse Version 2.0.0
